<?xml version="1.0" encoding="utf-8"?>
<!-- SPDX-License-Identifier: Apache-2.0 -->
<!-- Copyright (c) 2026 ninesix-ai studio -->
<!-- SPDX-FileCopyrightText: Copyright (C) 2026-2028 ninesix-ai studio -->

<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
